html{
    background-color: lightgoldenrodyellow;
    width:90%;
}
#leftColumnFirstTable{
    width:20%;
    align-items: left;
}
#rightColumnFirsttable{
    width: 80%;
    align-items: right;
}

nav{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

nav :hover{
    color:aqua;
}
